
.top-buffer { 
    margin-top:8%; 
  }

.box {
    min-height: 50px;
    margin: 5px;
    padding: 10px;
    font-weight: 800;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.mainbox {
  width: 600px;
  height: 610px;
  background: lightpink;
  color: black;
  font-size: 40px;
}

.pinkbox {
  width: 500px;
  height: 400px;
  background: lightpink;
  color: black;
  font-size: 20px;
}

.greenbox {
  width: 500px;
  height: 400px;
  background: mediumaquamarine;
  color: black;
  font-size: 20px;

}

.sidebarbox {
    width: 600px;
    height: 550px;
    background: mediumaquamarine;
    color: black;
    font-size: 30px;
}


.box-1 {
  margin-top: 8%;
}

.box-2 {
  margin-top: 8%;
  margin-left: 10%;
}

.largefont {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titlefont {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 35px;
}

.smallfont {
  font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
  font-size: 17px;
  font-weight: 400;
}

.mediumfont {
  font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
  font-size: 24px;
  font-weight: 400;
}

.smallphoto {
  height: 300px;
  width: 400px;
  margin-left: 2%;
}

.thumbnail {
  height: 195px;
  width: 225px;
}

.tablespacing {
  margin-top: 3%;
  margin-left: 5%;
}

.buttonspacing {
  margin-left: 2%;
  margin-top: 2%;
}

.leftspacing {
  margin-left: 2%;
}
